:root {
	--main-font: "Roboto";
	--secondary-font: "Raleway";
	--accent-bgr-color: #e5e5e5;
	--accent-button-color: #ffffff;
	--hero-button-active: #2196f3;
}
body {
	font-family: var(--main-font);
	font-size: 14px;
}
.header {
	background-color: #ffffff;
}
.link {
	text-decoration: none;
	list-style: none;
}
.main-logo {
	display: flex;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.web-logo {
	color: #292929;
}

.hero {
	background-color: #e5e5e5;
}
.hero-btn {
	color: var(--accent-button-color);
	background-color: #2196f3;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	border: none;
}
.hero-btn:hover,
.hero-btn:focus {
	color: var(--accent-button-color);
	background-color: var(--hero-button-active);
	cursor: pointer;
}

.img {
	width: 370px;
	height: 294px;
	left: 215px;
	top: 262px;
	background: url(portfolio1.jpg);
}
.title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	color: #212121;
}
.header-list-item {
	width: 68px;
	height: 16px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
}
.header-list-item:hover,
.header-list-item:focus .head-cont {
	height: 16px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.head-mail {
	width: 135px;
	color: #2196f3;
}
.head-tel {
	width: 122px;
	color: #757575;
}
.btn-port {
	width: 84px;
	height: 26px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	background-color: #f5f4fa;
	border: none;
}
.bond-port {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
}
.title-port {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: #212121;
}
.text-portfolio {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}
.footer {
	background-color: #2f303a;
}
.foot-adr {
	color: #ffffff;
}
.foot-cont {
	width: 231px;
	height: 21px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	/* or 171% */
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.web-footer-logo {
	color: #ffffff;
}
